<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/styles/new-student.css}"/>
</head>
<body>
<main role="main" class="container">
  <h2>Войдите в систему</h2>
  <form action="/login" method="post" th:object="${userDto}">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleNumber" name="email" placeholder="email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputName" name="password" placeholder="пароль">
    </div>
    <div class="text-center">
      <button class="btn btn-success" type="submit">ADD</button>
      <a href="/" class="btn btn-light" role="button">Back</a>
    </div>

  </form>
</main>
</body>
</html>